# Environment



# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/

.venv/

# Database
*.db
*.sqlite3

# Logs
*.log

# Testing
.coverage
.pytest_cache/
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo