# Environment
.env


# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
.venv/

# Database
*.db
*.sqlite3

# Logs
*.log

# Testing
.coverage
.pytest_cache/
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo